.share-detail-view{
    padding: 2rem;
    display: flex;
    align-items: center;
    height: calc( 100% - 4rem );
    width: calc( 100% - 4rem );
    justify-content: center;
}

.share-dv-chart{
    width: 100%;
}

