.sp-heading{
    padding-top: 16px;
}
.side-panel{
    display: flex;
    height: calc(100vh-20px);
    flex-wrap: wrap;
    align-content: flex-start;
    // background: #fef6ec;
}

.side-panel > *{

    flex: 1 1 100%;
    text-align: center;
}

.share-sl-list-row{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.mat-form-field{
    width: 100%;

}