<div class="side-panel custom-scroll">

    <h1 class="sp-heading"> Stock List</h1>

    <app-live-search></app-live-search>
    <mat-selection-list #share [multiple]="false" (selectionChange)="shareSelectionChange($event)" style="padding: 0;">
        <mat-list-option *ngFor="let share of listOfShares" [value]="share">
          <div class="share-sl-list-row">
            <div> {{share}} </div>
            <button mat-button color="primary" class="share-sl-list-row-delete" (click)="onListItemDelete($event)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          
        </mat-list-option>
    
    </mat-selection-list>
    
    <!-- <form class="sl-search-form">
        <mat-form-field appearance="fill">
          <mat-label>Enter ticker symbol</mat-label>
          <input matInput placeholder="Ex. AAPL" id="stock-side-search" 
            #searchValue [(ngModel)]="searchInput" name="searchInput"
            (keydown.enter)="onAddBtnClick(searchValue.value)">
          
        </mat-form-field>      
    </form> -->
    
</div>
  